html, body, div {
  line-height: 1;
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
}

.inline {
  display: inline;
}

.view-container {
  width: 1200px;
  height: 800px;
  margin: 0 auto;
  position: relative;
}

.view {
  position: absolute;
}

.view.main {
  width: 800px;
  height: 800px;
  left: 0;
}

.view.small-top {
  width: 400px;
  height: 400px;
  right: 0;
  top: 0;
}

.view.small-bottom {
  width: 400px;
  height: 400px;
  right: 0;
  bottom: 0;
}

.controls {
  width: 800px;
  margin: 20px auto;
}

label {
  display: block;
  margin: 5px 0;
}
