html, body, div {
  line-height: 1;
  margin: 0;
  padding: 0;
}
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
}
.view-container {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
  height: 700px;
}
.view-container.big {
  width: 69%;
}
.view-container.small {
  width: 29%;
}
canvas {
  display: inline-block;
  width: 100%;
}
.view-container.big canvas {
  height: 100%;
}
.view-container.small canvas {
  height: 49.7%;
}
.controls {
  width: 800px;
  margin: 20px auto;
}
label {
  display: block;
  margin: 5px 0;
}
