.view-manager {
  width: 1200px;
  height: 800px;
  margin: 0 auto;
  position: relative;
}

.view {
  position: absolute;
}

.view.main {
  width: 800px;
  height: 800px;
  left: 0;
}

.view.small-top {
  width: 400px;
  height: 400px;
  right: 0;
  top: 0;
}

.view.small-bottom {
  width: 400px;
  height: 400px;
  right: 0;
  bottom: 0;
}
